 .seguros-bg{
  background: var(--cor-c11) ;
  color: var(--cor-c0);
   padding-bottom: 60px;
   box-sizing: border-box;
 }
 .grid-col2 h2{
 margin: 0px 60px;
 }
 .grid-col2,
.seguros-conteudo,
 .seguros{
  padding:40px;
  display: grid;
  grid-template-columns:repeat(2,1fr);
  gap: 30px;
  max-width: 1200px;
 margin: 0px auto;
 align-items: center;
 box-sizing: border-box;
 margin: 0 auto;
  }
 .seguros-conteudo {
   grid-column: 1/-1;
     }
  .seguros,
  .seguros-conteudo{
    padding:32px 32px 32px 60px;
    background-color:var(--cor-c12);
    width: 400px;
  }  
      .seguros-conteudo{
    grid-column: 1/2;
    margin: 0 auto;
  }
  .seguros-list{
    display: grid;
    grid-template-columns:1fr auto;
  }
   .seguros-lista li{
     padding: 10px;
   }
  .seguros-conteudo h3,
  .seguros h3{
   font-size: 2rem;
   text-transform: uppercase;
      }
  .seguros-conteudo h3{
   color:var(--cor-c6);
  }
.seguros h3{
 color: var(--cor-p1);
}
.preco{
   display: block;
   text-align: end;
  }
 .seguros a,
 .seguros-conteudo a{
  grid-column: 1/-1;
 }
 .seguros-lista li{
    list-style-image:url('../../img/icones/Vector\ 4.svg');
 }
 .seguros-lista  {
  grid-column: 1/-1;
 }

@media(max-width:800px){
  .grid-col2{
    grid-template-columns: 1fr;
    gap:40px ;
    margin: 0 auto;
    padding-top: 40px;
  }
  .grid-col2 h2{
    text-align:center; 
    padding-top: 60px;
    font-size: 3rem;
   }
}
@media(max-width:500px){
  .grid-col2{
    padding: 60px 0px;
    font-size: 1.2rem;
      }
   .seguros span,
    .seguros-conteudo span{
    text-align:left;
    padding-left: -30px;
            
      }
}
 
 