 .seguro-bg{
  background-color: var(--cor-c10-1);
  color: var(--cor-c0);
   padding-bottom: 60px;
   box-sizing: border-box;

 }
 .grid-col2 h2{
 margin: 0px 60px;

 }
 .grid-col2,
.seguro-conteudo,
 .seguro{
  padding:40px;
  display: grid;
  grid-template-columns:repeat(2,1fr);
  gap: 30px;
  max-width: 1200px;
 margin: 0px auto;
 align-items: center;
 box-sizing: border-box;
 margin: 0 auto;
  }
 .seguro-conteudo {
   grid-column: 1/-1;
     }
  .seguro,
  .seguro-conteudo{
    padding:32px 32px 32px 60px;
    background-color:var(--cor-c12);
    width: 400px;
  }  
    .seguro-conteudo{
    grid-column: 1/2;
    margin: 0 auto;
  }
  .seguro-list{
    display: grid;
    grid-template-columns:1fr auto;
  }
   .seguro-lista li{
     padding: 10px;
   }
  .seguro-conteudo h3,
  .seguro h3{
   font-size: 2rem;
   text-transform: uppercase;
      }
  .seguro-conteudo h3{
   color:var(--cor-c6);
  }
.seguro h3{
 color: var(--cor-p1);
}
.preco{
   display: block;
   text-align: end;
  }
 .seguro a,
 .seguro-conteudo a{
  grid-column: 1/-1;
 }
 .seguro-lista li{
    list-style-image:url('/img/icones/Vector\ 4.svg');
 }
 .seguro-lista  {
  grid-column: 1/-1;
 }
  /*-teste*/

@media(max-width:800px){
  .grid-col2{
    grid-template-columns: 1fr;
    gap:40px ;
    margin: 0 auto;
    padding: 0px;
  }
  .grid-col2 h2{
    text-align:center; 
    padding-top: 60px;
    font-size: 3rem;
   }
}
@media(max-width:500px){
  .grid-col2{
    padding: 60px 0px;
    font-size: 1.2rem;
   
   }
   .seguro span,
    .seguro-conteudo span{
    text-align:left;
    padding-left: -30px;
     
       
      }
}
 
 