:root{
  /* --cor-b0:  #fff; */
  --cor-p10: #000000;
  --cor-p9: #111111;
  --cor-p8:#2E2E2E;
  --cor-p5: #CCCCCC;
  --cor-c7: #595959
  --cor-c4: #BFBFBF;
  --cor-c3: #F2F2F2;
  --cor-a1: #FFBB00;
}
 /*Tipografia*/
 .texto-extra--grande{
  font-size: 4rem;
  font-family:'Poppin',sans-serif;
 }
.texto-grande{
  font-size: 2.5rem;
  font-family:'Roboto',sans-serif;
}
.texto-medio{
  font-size: 1.8rem;
  line-height: 1.125;
  font-family: 'Poppins','Ariel', sans-serif;
  font-weight: 600;
}
.texto-pequeno{
font-size: 1.5rem;
line-height: 1.125;
font-family: 'Roboto','Ariel', sans-serif;
font-weight: 400;
}

.texto-pp{
 font-size: 1rem;
 line-height: 1.125;
 font-family: 'Roboto','Ariel', sans-serif;
 font-weight: 600;
}
.font-01{
  font-size: 1.125rem;
 
}


