.font-1-exgg{
  font-family:'Poppins', sans-serif;
  font-size: 4rem;
  font-weight: 600;
   line-height:4,5;
} 
.font-1-exg-1{
  font-family:'Poppins', sans-serif;
  font-size: 3.5rem;
  font-weight: 600;
   line-height:4,5;
} 
.font-1-exg--1{
  font-family:'Poppins', sans-serif;
  font-size: 2.25rem;
  font-weight: 600;
   line-height:2,5;
}
  .font-1-exg{
    font-family:'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 400;
     line-height:2,5;
  }
  .font-1-g{
    font-family:'Poppins', sans-serif;
    font-size: 1,5rem;
    font-weight: 400;
     line-height:2,25;
  }
  .font-2-exg{
    font-family:'Roboto', sans-serif;
    font-size:1.8rem;
    font-weight: 00;
     line-height:2,25;
  }

  .font-2-g{
    font-family:'Roboto', sans-serif;
    font-size:1,5rem;
    font-weight: 400;
     line-height:2,25;
  }
  .font-2-g-n{
    font-family:'Roboto', sans-serif;
    font-size:1,5rem;
    font-weight: 500;
    line-height:2,25; 
    letter-spacing: 1,5%;
    text-transform: uppercase;

  }

  .font-1-m{
    font-family:'Poppins', sans-serif;
    font-size: 1,125rem;
    font-weight: 500;
     line-height:1,5;
  }
  .font-1-m-n{
    font-family:'Poppins', sans-serif;
    font-size: 1,125rem;
    font-weight: 600;
     line-height:1,5;
  }
  .font-2-m{
    font-family:'Roboto', sans-serif;
    font-size: 1,125rem;
    font-weight: 500;
     line-height:1,5;
  }
  .font-1-p{
    font-family:'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 500;
     line-height:1,5;
  }
  .font-2-p{
    font-family:'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
     line-height:1,5;
  }

  .font-2-ex-p{
    font-family:'Roboto', sans-serif;
       font-size: 0,875rem;
       font-weight: 400;
        line-height:1,5;
     }
     .font-1-ex-p{
      font-family:'Poppins', sans-serif;
         font-size: 0,75rem;
         font-weight: 400;
          line-height:1,6;
       }