/*secão  escolha sua bicicleta*/
.bicicleta-lista{
padding-top: 60px;

}
.bicicleta-lista h2 {
 margin-bottom: 40px;
 box-sizing: border-box;
 max-width: 1200px;
 padding: 0px 20px;
 margin: 0px auto;
}
.bicicleta-lista ul{
  display:flex;
  gap: 40px;
  padding: 0 20px 20px 20px;
  max-width: 1400px;
  margin: 0px auto;
  overflow-x: auto; /* criar um scrou só nesta parte*/
 }
.bicicleta-lista li{
  flex:1;
  min-width: 280px;
 font-weight: 600;
 font-family: 'Roboto';
  }

.bicicleta-lista h3{
 margin-top: 10px;
 margin-left: 20px;
 margin-bottom: 8px;
 position: relative;
 }
  .bicicleta-lista h3::before {
  content:'';
  display: block;
  width: 12px;
  height: 8px;
  background-color:var(--cor-a1);
  bottom: 20px;
  left: -20px;
  position: absolute;
    
}
.bicicleta-lista a:hover h3::before{
  width: 20px;
 }
.bicicleta-lista a :hover h3{
  padding: 0px 16px;
  transition: 0.2s;

}

.bicicleta-lista li span{
 margin-left: 20px;
 color: var(--cor-c7);
  }
.bicicleta-lista  img{
  margin: auto; 
 }

 @media(max-width:1000px){
  .bicicleta-lista h3{
    font-size: 1.5rem;
  }
.bicicleta-lista h3::before {
 bottom: 12px;
}
 }