
html, body{
    overflow-x: hidden !important; 
}

body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, 
   sans-serif;
  box-sizing: border-box;
  background-color: #fff;
  margin: 0 auto;

}
 img{
  max-width: 100%;
   display: block;
 }
  img[src $=".jpg"]{
     border-radius: 4px;
  }
p h1 h2 h3 h4 a blockquote{
  margin: 0px;
   padding: 0px;
}
ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
   color:inherit;
}
 ul, li{
  list-style: none;
 padding: 0px;

 }
.tamannho-tela{
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;

}
