.rodape{
  background-color: var(--cor-c12);
  padding: 60px;
 }
.grid-rodape-col3{
  display: grid;
  grid-template-columns: 3fr 5fr 4fr;
gap: 40px;
 padding-left: 60px;
 box-sizing: border-box;
  margin: 0px auto;
 }
 .rodape-p{
 grid-column: 1/-1;
 }
 .rodape-conteudo img{
  padding-top: 20px;
 }
 .informacoes a ,
.lista-contatos li{
   padding-bottom: 20px;
   
}
 .rodape-conteudo h2{
   padding-bottom: 32px;
 }
  .informacoes a{
     display: block;
      }
  .grid-rodape-col3 a:hover{
     color:var(--cor-c0);
  }
   .redes-sociais{
     display: flex;
     gap: 20px;
     padding-bottom: 20px;
     max-width: 50px;
     height: 50px;
        }
   @media(max-width:800px){
     .grid-rodape-col3{
   display: block;
   padding: 0px;
   font-size: 1.5rem;
   box-sizing: border-box;
  text-align: left;
    }
    .redes-sociais{
     padding-bottom: 30px 
     } .rodape-p{
      font-size: 1rem;
    }
    .rodape-p{
       text-align: center;
    }
 .radape-logo{
  margin:0px auto;
  padding: 60px 0px;

 }
}
@media(max-width:500px){
  .rodape{
    padding: 20px;
  
 }
  .grid-rodape-col3{
 font-size: 1.4rem;
 }
 .rodape-p{
  font-size: 0.9rem;
}
}

@media(max-width:300px){
 
  .grid-rodape-col3{
 font-size: 1.25rem;
 }
.rodape-p{
  font-size: 0.6rem;
}
}
