.lojas{
    display: grid;
    gap:40px;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 80px;
   
} 
.loja-time,
.lojas-dado-titulo,
.lojas h2{
  grid-column: 1/-1;
}
.lojas-dados{
   display: grid;
   gap: 8px;
   grid-template-columns: 1fr 1fr;
   position: relative;
   background-color: var(--cor-c0);
   border-radius: 4px;
   padding-left: 40px; 

}

.lojas-dado-titulo::before{
  content: "";
   height: 8px;
   width: 12px;
   background-color: var(--cor-p1);
   position: absolute;
   left: 10px;
   top: 42px;
}
.loja-item{
  border-left: 2px solid var(--cor-c2);
  padding-left: 8px;
  background-color: var(--cor-c0);
}
.loja-item a{
 display: block;
 padding: 10px 0px;
}

.loja-time{
    display: flex;
    align-items: center;
    gap:10px;  
 

}
.loja-time img{
margin-left: -30px;
}
 @media(max-width:830px){
  .lojas-dados {
grid-template-columns: 1fr;
}
}
@media(max-width:500px){
  .lojas {
grid-template-columns: 1fr;
  }
}

